# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
*.env
*.venv
.Python
pip-log.txt
pip-delete-this-directory.txt

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.coverage
.tox/
.nox/
pytest_cache/
.cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log
*.out
*.err

# OS Files
.DS_Store
Thumbs.db
